@font-face {
	font-family: "bagnard";
	src: url("fonts/Lack-Italic.woff2") format("woff2");
}

h1 {
	font-family: "bagnard";
	font-size: 45px;
	color: darkblue;
	margin: auto;
	text-align: center;
	z-index: 100
}

h2 {
	font-family: "bagnard";
	font-size: 16px;
	justify-content: center;
	color: darkblue;
	margin: auto;
	text-align: center;
	z-index: 90
}

p {
	font-family: "bagnard";
	font-size: 12px;
	color: darkblue;
	margin: auto;
	text-align: center;
}

a {
	color: darkblue;
}

.red {
	width: 300px;
	height: 100px;
	margin: auto;
}

.pink {
	width: 50px;
	height: 30px;
	margin: auto;
}

.yellow {
	width: 600px;
	height: 600px;
	margin: auto;
}

.green {
	width: 70px;
	height: 50px;
	margin: auto;
}

.red {
	background-color: white;
	margin: auto;
	align-content: center;
}

.pink {
	background-color: white;
	margin: auto;
	align-content: center;
}

.yellow {
	background-color: white;
	margin: auto;
}

.green {
	background-color: white;
	margin: auto;
}

.space-around {
	justify-content: ;
	margin: auto;
}

.flex-vertical {
	display: flex;
	height: 1200px;
	flex-wrap: wrap;
	flex-direction: row;
	margin: auto;
}